*{
    margin: 0;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style:normal;
    font-weight: 600;
    text-decoration:none;
}
body {
    background-color: rgb(255, 250, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
main{
    background-color: rgb(255, 247, 241);
    grid-area: prin;
    height:auto;
}
.form {
    background-color: rgb(255, 243, 240);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #6292808c;
    width: 90%;
    max-width: 500px;
}
.form h1 {
    color: #629280;
    text-align: center;
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-top: 10px;
    color: #629280;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #629280;
    border-radius: 5px;
    box-sizing: border-box;
}
.form a {
    border-radius: 30px;
    background-color: #70A490;
    display: block;
    margin-top:10px;
    height: 35px;
    width: 100%;
    text-align: center ;
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
}
.form a:hover {
    background-color: #629280;
}
@media (max-width: 570px) {
    .form {
        padding: 15px;
        width: 80%;
    }


}
