
*{
    margin: 0;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style:normal;
    font-weight: 600;
    text-decoration:none;
}
body{
    background-color:rgb(253, 255, 240);
    display:grid;
   grid-template-areas:
    "cabeca cabeca cabeca"
    "secund princip princip"
    "rodap rodap rodap";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto auto;
}
header{
    background-color: rgb(253, 255, 240);
    grid-area: cabeca;
    height: 230px;
    width: auto;
}

main{
    background-color: rgb(255, 247, 241);
    grid-area: princip;
    height:auto;
}
aside{
    background-color: rgb(230, 248, 231);
    grid-area: secund;
    height:auto;
    position: relative;
    grid-template-columns:auto;
    grid-template-rows: auto auto auto auto;
    color:#629280
} 
footer{
    background-color: rgb(253, 255, 240);
    grid-area: rodap;
    height: 150%; 
}
.info{
    margin-top: 20px;
    color:#629280;
    text-decoration: none;
    text-align: center;
}
footer img{
    width: 40px;
    position: relative;
    margin-top: 12%;
}
footer img:hover{
    transition: 0,7s;
    filter:brightness(110%);
}
.contas1{
    position: absolute;
    margin-left: 46%;
}
.contas2{
    position: absolute;
    margin-left:50%;
}
li{
    list-style-type: none;
}
a{ 
    color: inherit; 
} 
a:hover{
    transition: 0,7s;
    color:#a7cabd;
}

ul{
    position:absolute;
    top:50px;
    width:100%;
}
.menu ul{
    list-style-type:none;
    padding-left: 38%;
    padding-top: 9%;
    max-width: 400px;
}
.menu a{
    transition: 0s;
}
.menu a:hover{
    color:#a7cabd;
}
.menu ul li{
    display: inline-block;
    position: relative;
}
.menu ul li a{
    display:block;
    color:#629280;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
.menu ul li a :hover{
    background-color: rgb(253, 255, 240);
}
.menu .down{
    display: none;
    position: absolute;
    min-width:100px;
    z-index: 1;
    background-color: rgb(253, 255, 240);
}
.menu .down li {
    display: block;
}
.menu .down li a {
    padding: 15px 14px;
}
.menu .down li a:hover {
    background-color: rgb(253, 255, 240);
}
.menu .drop:hover .down {
    display: block;
}
@media(max-width:800px) {
   
    body{
        display: grid;
        grid-template-areas:
        "cabeca"
        "secund"
        "pricip"
        "rodap";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

}
@media(max-width:400px){
    body{
    display: grid;
    grid-template-areas: 
    "cabeca"
    "secund"
    "princip"
    "rodap";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
        }
    
}
.logotipo{
    width: 200px;
    margin: auto;
    display:block;
    transition:1s;
}
.logotipo:hover{
    width: 220px;
}

.caixamae{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 20px;
}
.card{
    display: flex;
    border-radius: 5px;
    background-color: rgb(253, 255, 240);
    width: 250px;
    height: 400px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 30px;
    transition: 1s;
    position: relative;
    color: #5e6e68;
    
}
.card:hover{
    background-color:rgba(237, 234, 234);
}

.card a{
    border-radius: 30px;
    background-color: #70A490;
    display: block;
    height: 25px;
    width: 110px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
}
.card a:hover{
    background-color:#629280;
}
.card img {
    height: 140px;
}
.card img:hover{
    transition: 1s;
    filter: brightness(110%);
}
.barra {
    background-color: rgb(252, 253, 243);
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    border-color: #629280;
    transition: 0s;
}
.barra:hover {
    border-color: #629280;
}
form{
    display: flex;
    align-items:center;
}
.pesquisa{
    position: absolute;
    left:75%;
    width: 300px;
    padding: 10px 15px;
    border-radius: 25px 0 0 25px;
    outline: none;
    border: none;
}
.pesquisa:focus{
    border-color:#629280;
}
.botao{
    padding: auto;
    border:none;
    cursor: pointer;
    background-color: rgb(253, 255, 240);
}
.lupa{
    width:40px
}
.imgmenu{
    width:40px;
    position: absolute;
    margin:0
}
.icon{
    position: absolute;
    width: 38px;
    transition: 0,7s;
}
.icon:hover{
    filter:brightness(110%);
}
.sidebar{
    padding: 2px;
    box-sizing: border-box;
}
.ret ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}
.ret ul li{
    margin-bottom: 1em;
    position: relative;
    padding-bottom: 5px;  
}
.ret li{
    margin-left: 10%;
}
.ret ul li a{
    display: block;
    padding:10px;
    border-radius: 5px;
}