
body{
    background-color: rgb(252, 203, 207);
    display:grid;
    
   grid-template-areas:
    "cabeca cabeca cabeca"
    "secund princip princip"
    "rodap rodap rodap"
}
header{
    background-color: rgb(253, 255, 240);
    grid-area: cabeca;
    height: 300px;
    width:100%;
    
}
main{
    background-color: rgb(255, 212, 212);
    grid-area: princip;
    height: auto;
}
aside{
    background-color: rgb(202, 255, 204);
    grid-area: secund;
}
footer{
    background-color: rgb(253, 255, 240);
    grid-area: rodap;
    
    
}
footer img{
    width: 40px;
}
@media(max-width:800px) {
    header{
    flex-direction: column;
    background-color: brown;
    }
    
}
@media(max-width:400px){
    header{
        flex-direction: column;
        background-color: coral;
    }
    .logotipo{
        flex-direction: column;
        width: 100px;
    }
}
.logotipo{
    width: 250px;

}
main img{
    width: 200px;
    height: 250px;
}
.caixamae{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.card{
    display: flex;
    border-radius: 5px;
    background-color: rgb(253, 255, 240);
    width: 300px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 30px;
    transition: 0,6s;

}
.card:hover{
    background-color:rgba(237, 234, 234)
}

#EDEAEA (codigo fundo)