/*Alterações gerais*/
*{
    margin: 0;
    padding: 0;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style:normal;
    font-weight: 600;
    text-decoration:none;
}
/*Itens corpo*/
body {
    background-color: rgb(231, 141, 71);
    display:grid;
    grid-template-areas:
    "cabe cabe cabe"
    "brac prin prin"
    "rodap rodap rodap";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows:auto 1fr auto;
    height: 100%;
}
li{
    list-style-type: none;
}
/*Ínicio Header*/
header{
    background-color: rgb(253, 255, 240);
    grid-area: cabe;
    height: 230px;
    width: 100%;
}
/*Configurações logotipo*/
.logotipo{
    width: 200px;
    margin: auto;
    display:block;
    transition:1s;
}
/*Transição logotipo*/
.logotipo:hover{
    width: 220px;
}
/*Transição links*/
a:hover{
    transition: 0,7s;
    color:#a7cabd;
}
/*posição menu*/
header ul{
    position:absolute;
    top:50px;
    width:100%;
}
/*posição configurações*/
.menu1 ul{
    list-style-type:none;
    padding-left: 38%;
    padding-top: 9%;
    max-width: 400px;
}
/*transição menu down*/
.menu1 a{
    transition: 0s;
}
.menu1 a:hover{
    color:#a7cabd
}
/*fim transição menu down*/
.menu1 ul li{
    display: inline-block;
    position: relative;
}
/*configurações menu*/
.menu1 ul li a{
    display:block;
    color:#629280;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
/*fim menu*/
/*ínicio barra pesquisa*/
/*configurações barra*/
.barra {
    background-color: rgb(252, 253, 243);
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    border-color: #629280;
    transition: 0s;
}
/*transição barra*/
.barra:hover {
    border-color: #629280;
}
/*display formulário*/
form{
    display: flex;
    align-items:center;
}
/*configurações de pesquisa*/
.pesquisa{
    position: absolute;
    left: 75%;
    width: 300px;
    padding: 10px 15px;
    border-radius: 25px 0 0 25px;
    outline: none;
    border: none;
}
.pesquisa:focus{
    border-color:#629280;
}
/*configuração de botão*/
.botao{
    padding: auto;
    border:none;
    cursor: pointer;
    background-color: rgb(253, 255, 240);
}
/*icone lupa tamanho*/
.lupa{
    width:40px
}
/*Fim barra de pesquisa*/
/*Fim de itens Header*/
/*Itens Menu secundario*/
/*configurações aside*/
aside{
    background-color: rgb(255, 247, 241);
    grid-area:brac;
    height:auto;
    width: auto;
    position: relative;
    grid-template-columns:auto;
    grid-template-rows: auto auto auto auto;
    display: flex;
}
/*tamanho  imagem de menu*/
.menuimg{
    width:30px;    
}
/*tamanho icones do menu*/
.iconf{
    width:30px;
}
main ul{
    padding: 0%;
}
/*tamanho menu sem o click*/
#red nav{
    background-color: rgb(225, 255, 205);
    border-radius: 20px;
    width: 60px;
    height:auto;
    position: inherit;
}
/*configurações dos links*/
#red li{
    color: #629280;
    padding: 10px;
    font-size:15px;
    text-align: center;
}
#red li > a{
    color: #629280;
    text-decoration: none;
}
/*fim configurações de link*/
#red a > span{
    text-transform: uppercase;
    font-size: 0; /*remover os links*/
    display:flex;
}
/*removedor de botão*/
#toogle {
    display: none;
}
/*configurações para que, quando clicado no botão menu, apareçam os links*/
#toogle:checked + nav{
    width:250px;
    border-radius:5px;
    padding:0 20px;
    transition: 0,5s;
}
#toogle:checked + nav li{
    border-bottom: dashed 1px rgb(166, 179, 159);
    text-align: left;
}
#toogle:checked + nav li:last-child{
    border: none;
}
#toogle:checked + nav a > span{
    font-size: 16px;
    display: inline-block;
    padding-left: 10px;
}
/*fim menu retratil*/
/*Fim itens Aside*/
/*Itens Principais*/
main{
    background-color: rgb(255, 247, 241);
    grid-area: prin;
    height:100%;
    width:100%;
    display: flex;
}
/*configurações caixa mãe*/
.caixamae{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 20px;
}
@keyframes floating{
    0%{
        transform: translateY(0)
        rotate(0);
    }
    50%{
        transform: translatey(-15px)
        rotate(4deg);
    }
    100%{
        transform: translateY(0)
        rotate(0);
    }
}
/*configurações caixa*/
.card{
    display:flex;
    border-radius: 5px;
    background-color: rgb(253, 255, 240);
    width: 250px;
    height: 350px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 30px;
    transition: 1s;
    position:relative;
    color: #5e6e68;
}
/*transição de caixa*/
.card:hover{
    background-color:rgba(237, 234, 234);
}
/*configurações botão da caixa*/
.card a{
    border-radius: 30px;
    background-color: #70A490;
    display: block;
    height: 25px;
    width: 110px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
}
/*transição botão*/
.card a:hover{
    background-color:#629280;
}
/*tamanho imagem*/
.card img {
    animation: floating 6s ease-out
    infinite;
    height: 140px;
}
/*transição imagem*/
.card img:hover{
    transition: 1s;
    filter: brightness(110%);
}
/*fim das caixas*/
/*Fim itens principais*/
/*Itens Rodapé*/
footer{
    background-color: rgb(253, 255, 240);
    grid-area: rodap;
    height: 150%; 
    width: 100%;
}
/*configurações título*/
.info{
    margin-top: 20px;
    color:#629280;
    text-decoration: none;
    text-align: center;
}
/*configurações imagem*/
footer img{
    width: 40px;
    position: relative;
    margin-top: 12%;
}
/*transição das imagens*/
footer img:hover{
    transition: 0,7s;
    filter:brightness(110%);
}
/*Colocação da logo instagram*/
.contas1{
    position: absolute;
    margin-left: 46%;
}
/*colocação da logo facebook*/
.contas2{
    position: absolute;
    margin-left:50%;
}
/*configuração dos links de informações*/
footer li{
    list-style-type: none;
}
footer a{ 
    color: inherit; 
} 
footer a:hover{
    transition: 0,7s;
    color:#a7cabd;
}
footer ul{
    position:absolute;
    top:50px;
    width:100%;
}
/*fim configurações itens de infomações/*
/*fim itens Rodapé*/
/*Responsividade*/
/*@media(max-width:820px) {
   body{
        min-width: 400px;
        max-width: 820px;
        grid-template-areas: 
        "cabe"
        "brac"
        "prin"
        "rodap";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 500px 200px;
    }
    aside{
        background-color: rgb(255, 231, 213);
        grid-area:brac;
        height:1%;
        width: 1%;
        position: relative;
        grid-template-columns:auto;
        grid-template-rows: auto auto auto auto;
    }
@media(max-width:470px){
    body{
        grid-template-areas: 
        "cabe"
        "secn"
        "prin"
        "rodap";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 470px 100px;
    }
    header{
        width: 100%;
        height:150px;
    }
    .logotipo{
        width: 130px;
    }
    /*Transição logotipo*/
    /*.logotipo:hover{
        width: 130px;
    }
    .barra {
        padding: 5px;
        border-radius: 20px;
        width: 150px;
    }
    .pesquisa{
        left: 50%;
        width: 300px;
        padding: 2px 10px;
    }
    .lupa{
        width:25px;
    }
    .menu1 a{
        font-size: 10px;
    }
    .menu1 .down{
        min-width: 60px;
    }*/
