*{
    margin: 0;
    padding: 0;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-style:normal;
    font-weight: 600;
    text-decoration:none;
}
/*Itens corpo*/
body {
    background-color: rgb(255, 247, 241);
    display:grid;
    grid-template-areas:
    "cabe cabe cabe"
    "prin prin prin"
    "roda roda roda";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows:auto auto auto;
}
li{
    list-style-type: none;
}
/*Ínicio Header*/
header{
    background-color: rgb(253, 255, 240);
    grid-area: cabe;
    height: 230px;
    width: auto;
}
/*Configurações logotipo*/
.logotipo{
    width: 200px;
    margin: auto;
    display:block;
    transition:1s;
}
/*Transição logotipo*/
.logotipo:hover{
    width: 220px;
}
a:hover{
    transition: 0,7s;
    color:#a7cabd;
}
header ul{
    position:absolute;
    top:50px;
    width:100%;
}
.menu1 ul{
    list-style-type:none;
    padding-left: 38%;
    padding-top: 9%;
    max-width: 400px;
}
.menu1 a{
    transition: 0s;
}
.menu1 a:hover{
    color:#a7cabd
}
.menu1 ul li{
    display: inline-block;
    position: relative;
}
.menu1 ul li a{
    display:block;
    color:#629280;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
.menu1 ul li a :hover{
    background-color: rgb(253, 255, 240);
}
.menu1 .down{
    display: none;
    position: absolute;
    min-width:100px;
    z-index: 1;
    background-color: rgb(253, 255, 240);
}
.menu1 .down li {
    display: block;
}
.menu1 .down li a {
    padding: 15px 14px;
}
.menu1 .down li a:hover {
    background-color: rgb(253, 255, 240);
}
.menu1 .drop:hover .down {
    display: block;
}
.barra {
    background-color: rgb(252, 253, 243);
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    border-color: #629280;
    transition: 0s;
}
.barra:hover {
    border-color: #629280;
}
form{
    display: flex;
    align-items:center;
}
.pesquisa{
    position: absolute;
    left:75%;
    width: 300px;
    padding: 10px 15px;
    border-radius: 25px 0 0 25px;
    outline: none;
    border: none;
}
.pesquisa:focus{
    border-color:#629280;
}
.botao{
    padding: auto;
    border:none;
    cursor: pointer;
    background-color: rgb(253, 255, 240);
}
.lupa{
    width:40px
}
/*Fim de itens Header*/
/*Itens Menu secundario*/
/*aside{
    background-color: rgb(230, 248, 231);
    grid-area:brac;
    height:auto;
    position:relative;
    grid-template-columns:auto;
    grid-template-rows: auto auto auto auto;
    color:#629280;
}/*
/*Fim itens Aside*/
/*Itens Principais*/
main{
    background-color: rgb(255, 247, 241);
    grid-area: prin;
    height:auto;
}
.caixamae{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 20px;
}
.card{
    display: flex;
    border-radius: 5px;
    background-color: rgb(253, 255, 240);
    width: 250px;
    height: 400px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 30px;
    transition: 1s;
    position: relative;
    color: #5e6e68;
}
.card:hover{
    background-color:rgba(237, 234, 234);
}
.card a{
    border-radius: 30px;
    background-color: #70A490;
    display: block;
    height: 25px;
    width: 110px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
}
.card a:hover{
    background-color:#629280;
}
.card img {
    height: 140px;
}
.card img:hover{
    transition: 1s;
    filter: brightness(110%);
}
/*Fim itens principais*/
/*Itens Rodapé*/
footer{
    background-color: rgb(253, 255, 240);
    grid-area: roda;
    height: 150%; 
}
.info{
    margin-top: 20px;
    color:#629280;
    text-decoration: none;
    text-align: center;
}
footer img{
    width: 40px;
    position: relative;
    margin-top: 12%;
}
footer img:hover{
    transition: 0,7s;
    filter:brightness(110%);
}
.contas1{
    position: absolute;
    margin-left: 46%;
}
.contas2{
    position: absolute;
    margin-left:50%;
}
footer li{
    list-style-type: none;
}
footer a{ 
    color: inherit; 
} 
footer a:hover{
    transition: 0,7s;
    color:#a7cabd;
}
footer ul{
    position:absolute;
    top:50px;
    width:100%;
}
/*fim itens Rodapé*/
/*Responsividade*/
@media(max-width:800px) {
   body{
        grid-template-areas: 
        "cabe"
        "brac"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 500px 200px;
    } 
}
@media(max-width:400px){
    body{
        grid-template-areas: 
        "cabe"
        "secn"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px 100px;
    }

    aside{
        display: none;
    }
    header{
        display: none;
    }

}
/*teste*/
.menuimg{
    width:30px;
    margin: 10px;
}
.iconf{
    width:30px;
}
main ul{
    padding: 0%;
}
aside{
    background-color: rgb(255, 247, 241);
}
#red nav{
    background-color: rgb(230, 248, 231);
    border-radius: 20px;
    width: 50px;
}
#red li{
    padding: 10px;
    font-size:15px;
    text-align: center;
}
#red li>a{
    color: #629280;
    text-decoration: none;
}
#red a>span{
    font-size: 0;
    display:block;
}
#toogle{
    display: none;
}
#toogle :checked +nav{
    width:200px;
    border-radius:5px;
    padding:0 20px;
}
#toogle :checked +nav li{
    border-bottom: dashed 1px #ddd;
    text-align: left;
}
#toogle :checked +nav li:last-child{
    border:none;

}
