@media screen and (min-width:800px);{
    body{
        grid-template-areas:
        "cabeca"
        "secund"
        "princip"
        "rodap"
    }
}

body{
    background-color: rgb(255, 138, 108);
   grid-template-areas:
    "cabeca, cabeca, cabeca"
    "secund, princip, princip"
    "rodape, rodape, rodape"
    grid-template-areas: auto, auto, auto;
    grid-template-columns: auto, auto, auto;
    gap: 0.5px;
}
header{
    background-color: rgb(255, 194, 115);
    grid-area: cabeca;
}
main{
    background-color: rgb(100, 194, 92);
    grid-area: princip;
}
aside{
    background-color: rgb(0, 38, 255);
    grid-area: secund;
}
footer{
    background-color: rgb(251, 123, 255);
    grid-area: rodap;
}